@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf)
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf)
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf)
}

header div,
header img,
img,
section,
footer {
    margin: 0 10%;
}

body {
    background-image: url(images/background-image.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Montserrat-Black;
}

p {
    font-family: Montserrat-Regular;
}

img {
    max-width: 80%;
    height: auto;
    box-sizing: border-box;
}

section img {
    max-width: 100%;
    margin: 0;
}

header {
    background-color: #1E90FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-family: Montserrat-Bold;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    margin-left: 50%;
}

.active {
    text-decoration: underline;
}

a {
    display: none;
}

.links a:nth-child(2) {
    display: block;
    margin: 15px 0;
    text-decoration: underline;
}

header img {

}

.introduction p {
    text-align: center;
    font-weight: bold;
    color: white;
}