/* Some global variables that are used throughout the document, from lines 3 and 52 */

@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf)
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf)
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf)
}

body {
    background-image: url(images/background-image.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(30, 144, 255, 0.75);
}

p {
    color: white;
    font-family: Montserrat-Regular;
}

img,
section {
    margin: 0 10%;
}

img {
    max-width: 80%;
    height: auto;
    box-sizing: border-box;
}

section {
    margin: 25px 10%;
}

/* HOME PAGE : MOBILE VIEW (lines 57 to 226) */

/* The header is being worked on here, from lines 57 to 136. I chose to use flex because I felt more comfortable using flex than grid when working with headers. */
header {
    background-color: #1E90FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    font-family: Montserrat-Light;
    text-transform: uppercase;
    font-size: 1.75rem;
    text-decoration: none;
    color: white;
    display: none;
}

.links a:nth-child(2) {
    display: block;
    text-decoration: underline;
    margin: 15px 0px;
    padding-left: 0px; 
}

.active {
    text-decoration: underline;
    font-family: Montserrat-Regular;
}

header img {
    margin: 0;
}

/* Lines 92 to 136 deals with the dropdown menu you can see in the mobile view for all pages. */
.dropbtn {
    background-color: dodgerblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(30, 144, 255, 0.75);
    min-width: 100vw;
    z-index: 1;
    right: -13px;
    text-align: center;
    margin: 0;
}

.dropdown-content a {
    color: black;
    padding: 30px 16px;
    text-decoration: underline;
    display: block;
    color: white;
    font-size: 1rem;
    background-color: dodgerblue;
}

.dropdown-content a:last-child {
    margin-bottom: 100vh;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: dodgerblue;
}

.introduction p {
    text-align: center;
    margin: 25px 10% 60px;
    font-size: 1.5rem;
}

section img {
    max-width: 100%;
    margin: 0;
}

/* From lines 150 to 201, most of the important sections are being affected here. Specifically in the home page (photography, videography, and coding) and the about page (education, program related skills, and hobbies). */
.photography-button img,
.videography-button img,
.coding-button img,
.education img,
.prs img,
.hobbies img{
    height: 500px;
    object-fit: cover;
    object-position: 10% center;
}

.videography-button img {
    object-position: 25% center;
}

.coding-button img {
    object-position: 6% center;
}

.photography-button a,
.videography-button a,
.coding-button a,
.education p:nth-child(1),
.prs p:nth-child(1),
.hobbies p:nth-child(1) {
    font-family: Montserrat-Regular;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    top: 291px;
    background-color: rgba(204,204,204,0.75);
    padding: 25px;
    margin: 0 75px;
    color: black;
}

.photography-button a,
.videography-button a,
.coding-button a {
    display: block;
    top: 287px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 30%;
}

.photography-button p:nth-child(2),
.videography-button p:nth-child(2),
.coding-button p:nth-child(2) {
    display: none;
}

/* The footer is being set up here from lines 204 to 226, this includes the back to top link also. */
footer {
    background-color: #1E90FF;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-content: center;
}

footer div {
    text-align: center;
}

.icons img{
    margin: 16px 3px;
}

.back-to-top a {
    color: white;
    font-family: Montserrat-Regular;
    text-decoration: none;
    margin: 0;
    font-size: 1rem;
}

/* HOME PAGE : TABLET VIEW (lines 230 to 341) */

@media (min-width: 768px) {
    /* Here, the links are introduced for the tablet view. This is from lines 232 to 243. The header is also altered here from line 232 all the way down to line 254. */
    .links {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        width: 100%;
        margin: 35px;
    }
    
    .links a:nth-child(2) {
        display: block;
        margin: 0 auto;
        padding: 0; 
    }

    header a {
        display: block;
        margin: 0 auto;
        padding: 0;
        font-size: 1.5rem;
    }

    header img {
        display: none;
    }

    .introduction p {
        font-size: 2rem;
    }

    /* Again, here we're adjusting most of those sections above from lines 261 all the way down to 334. */
    .photography-button,
    .videography-button,
    .coding-button,
    .education,
    .prs,
    .hobbies {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas:
            "first-paragraph text"
    }

    .photography-button div,
    .videography-button div,
    .coding-button div,
    .education div,
    .prs div,
    .hobbies div {
        grid-area: first-paragraph;
        height: 400px; 
    }

    .education p:nth-child(1),
    .prs p:nth-child(1),
    .hobbies p:nth-child(1) {
        top: 223.5px;
        padding: 10px;
        margin: 0 50px;
    }

    .photography-button a,
    .videography-button a,
    .coding-button a {
        top: 223.5px;
        padding: 10px;
    }

    .photography-button img,
    .videography-button img,
    .coding-button img,
    .education img,
    .prs img,
    .hobbies img {
        height: 400px;
    }

    .photography-button img {
        object-position: 25% center;
    }

    .videography-button img {
        object-position: 30% center;
    }

    .coding-button img {
        object-position: 13% center;;
    }

    .photography-button p:nth-child(2),
    .videography-button p:nth-child(2),
    .coding-button p:nth-child(2),
    .education p:nth-child(2),
    .prs p:nth-child(2),
    .hobbies p:nth-child(2) {
        grid-area: text;
        display: block;
        margin: 47px 0 0 5px;
        font-size: 1.25rem;
    }

    .coding-button {
        margin-bottom: 100px;
    }
    
    /* This just hides the dropdown menu since it would be pointless to have it, with the already visible navigation bar displayed at the top. */
    .dropdown,
    .dropbtn,
    .dropdown-content {
        display: none;
    }
}

/* HOME PAGE : DESKTOP VIEW (lines 346 to 427) */

@media (min-width: 1200px) {
    img,
    section {
        margin: 0 20%;
    }

    .introduction p {
        font-size: 3rem;
    }

    /* Once more, we're making minor changes to most of the sections above from lines 357 to 422. */
    .photography-button,
    .videography-button,
    .coding-button,
    .education,
    .prs,
    .hobbies {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65% 10%;
        grid-template-areas:
            "first-paragraph"
            "text"
    }

    .photography-button img,
    .videography-button img,
    .coding-button img,
    .education img,
    .prs img,
    .hobbies img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: 10% center;
    }

    .coding-button img {
        object-position: 10% top;   
    }

    .photography-button div,
    .videography-button div,
    .coding-button div,
    .education div,
    .prs div,
    .hobbies div {
        height: 300px;
    }

    .education p:nth-child(1),
    .prs p:nth-child(1),
    .hobbies p:nth-child(1) {
        top: 176px;
        font-size: 1.75rem;
        margin: 0 30%;
    }

    .photography-button a,
    .videography-button a,
    .coding-button a {
        top: 176px;
        font-size: 1.75rem;
    }

    .photography-button p:nth-child(2),
    .videography-button p:nth-child(2),
    .coding-button p:nth-child(2),
    .education p:nth-child(2),
    .prs p:nth-child(2),
    .hobbies p:nth-child(2) {
        text-align: center;
    }

    .coding-button{
        margin: 0 20%;
    }

    footer {
        margin-top: 100px;
    }
}

/* ABOUT PAGE : MOBILE VIEW (lines 431 to 454) */
/* This block of code just sets the height and object-fit of the portrait that I have on the about page. */
#portrait {
    height: 775px;
    object-fit: cover;
}

/* Here from lines 430 to 447, the education section, program related skills section, the hobbies section, as well as the "top" section are being adjusted.  */
.prs img {
    object-position: 45% center;
}

.hobbies img {
    object-position: 45% center;
}

.education,
.prs,
.hobbies,
.top {
    margin: 0 10%; 
}

.top p { 
    text-align: center;
}

/* ABOUT PAGE : TABLET VIEW (lines 457 to 485) */
@media (min-width: 768px) {
    .education,
    .prs,
    .hobbies {
        margin: 50px 10%;
    }

    .top p {
        font-size: 1.25rem;
    }

    .prs p:nth-child(2) {
        margin: 75px 0 0 5px;
    }
    
    .education p:nth-child(1),
    .prs p:nth-child(1),
    .hobbies p:nth-child(1) {
        margin: 0 20%;
    }

    .hobbies div {
        margin-top: 75px;
    }

    .hobbies p:nth-child(2) {
        margin: 123px 0 0 5px;
    }
}

/* ABOUT PAGE : DESKTOP VIEW (lines 488 to 510) */
@media (min-width: 1200px) {
    .top,
    .education,
    .prs,
    .hobbies {
        margin: 0 20%;
        font-size: 1.75rem;
    }

    #portrait {
        height: 700px;
    }

    .education p:nth-child(2),
    .prs p:nth-child(2),
    .hobbies p:nth-child(2) {
        margin: 70px 0 5px 5px;
    }

    .hobbies div {
        margin-top:0;
    }
}

/* CONTACT PAGE : MOBILE VIEW (lines 514 to 562) */
/* In the following block of code, the main image shown on the contact page is being set up here. */
#contact {
    height: 400px;
    object-fit: cover;
    object-position: 0%;
}

/* From lines 520 to 557, the form in the contact page is being styled. */
form {
    margin: 20px auto;
    padding: 0 10%;
}

form input,
textarea {
    background-color: rgb(30, 144, 255);
    color: white;
    font-family: Montserrat-Regular;
    text-align: center;
    padding: 15px 0px 30px 0px;
    border: 0;
    margin: 5px 0;
    width: 47%;
    text-decoration: underline;
}

input[id="lname"],
input[id="subject"] {
    float: right;
}

textarea {
    width: 100%;
    padding-bottom: 100px;
    resize: none;
}

input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
    color: white;
    font-family: Montserrat-Regular;
}

main p {
    text-align: center;
}

/* CONTACT PAGE : TABLET VIEW (lines 565 to 576) */
@media (min-width: 768px) {
    #contact {
        height: 350px;
        max-width: 1900px;
        width: 100%;
        object-position: 0% 60%;
    }

    form input {
        padding: 20px 0px 40px 0px;
    }
}

/* CONTACT PAGE : DESKTOP VIEW (lines 579 to 611) */
@media (min-width: 1200px) {
    /* Here the form is being altered to fit 3 columns at a time. Also from it goes from lines 580 to 607. */
    .introduction p,
    form {
        margin: 0 20%;
    }

    form {
        padding: 0;
    }

    form input {
        width: 33%;
        font-size: 1.5rem;
    }

    input[id="lname"],
    input[id="subject"] {
        float: none;
    }

    textarea {
        width: 66.6%;
        padding-bottom: 20px;
        resize: none;
        font-size: 1.5rem;
        float: right;
    }

    input[type="submit"] {
        margin-left: auto;
        margin-right: 0;
    }
}

/* VIDEOGRAPHY PAGE : MOBILE VIEW (lines 615 to 617) */
/* For these next few blocks of code (614 to 630), they just adjust the margin size of the videography-videos class in the videography page. */
.videography-videos {
    margin: 60% 10%;
}

/* VIDEOGRAPHY PAGE : TABLET VIEW (lines 620 to 624) */
@media (min-width: 768px) {
    .videography-videos {
        margin: 30% 10%;
    }
}

/* VIDEOGRAPHY PAGE : DESKTOP VIEW (lines 627 to 631) */
@media (min-width: 1200px) {
    .videography-videos {
        margin: 5% 10%;
    }
}

/* CODING PAGE : MOBILE VIEW (lines 635 to 638) */
/* Here's a simple method that will show the mobile versions of the images on the coding page while hiding the tablet and desktop versions. */
#tablet,
#tablet1,
#desktop,
#desktop1 {
    display: none;
}

/* CODING PAGE : TABLET VIEW (lines 642 to 650) */
/* In this @media, it's the same simple method. But instead of showing the mobile version of the images on the coding page while hiding the tablet and desktop versions, it will show the tablet version of the images on the coding page, but hide the mobile and desktop versions. */
@media (min-width: 768px) {
    #mobile,
    #mobile1 {
        display: none;
    }

    #tablet,
    #tablet1 {
        display: block;
    }
}

/* CODING PAGE : DESKTOP VIEW (lines 654 to 662) */
/* Finally, this block of code shows only the desktop version of the images on the coding page. */
@media (min-width: 1200px) {
    #tablet,
    #tablet1 {
        display: none;
    }

    #desktop,
    #desktop1 {
        display: block;
    }
}